<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="org.automateit.reports">
    <Appenders>
        <MyCustomAppender name="ExtentReporterLog4J2Appender" >
       <PatternLayout pattern="serial no: %sn |  Date: %d |  level:%level | class name:%logger | method name:%M() |  line number:%L |  Location: %l | message:%m%n" />
        </MyCustomAppender>
    </Appenders>
       <Loggers>
              <Root level="all" additivity="false">
                     <AppenderRef ref="ExtentReporterLog4J2Appender" />

              </Root>
       </Loggers>
</Configuration>
